# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.codex-worktrees/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Xcode user-specific files
**/xcuserdata/
*.xcuserstate
DerivedData/

.codex/config.toml
